body {
    overflow: hidden;
}
#root {
    position:absolute;
    padding: 3px;
    width:100%;
    height:100%;
}

#navbar {
    position:absolute;
    min-height: 40px;
    width: 98.5%;
    height: 4vh;
}

#title-div {
    position: absolute;
    user-select: none;
    padding: 1vh 1vw;
}

#left-sidebar {
    text-align: center;
    position:absolute;
    height:94%;
    width: 170px;
    margin: 4.5vh 0vw;
}

#workspace {
    position:absolute;
    height:94%;
    width: calc(97.5% - 170px);
    margin: 4.5vh 0vw;
    margin-left: 170px;
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

#left-sidebar-header {
    user-select: none;
    padding-left: 15px;
    padding-top: 30px;
    height: 45px;
    top:3%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    white-space: nowrap;
}

#add-list-button {
    margin-right: 20px;
}

#todo-lists-list {
    overflow-x: auto;
    position:absolute;
    text-align: center;
    height:90%;
    width:100%;
    top: 8%;
}

.todo-list-button {
    padding: 30px 0px;
    height: auto;
    width: 100%;
}

.todo-button {
    white-space: nowrap;
}

#left-sidebar-controls {
    text-align: right;
}

[id^="input-list-"] {
    padding: 30px 0px;
    height: auto;
    width: 100%;
}

#todo-list-header-card {
    padding-top: 30px;
    height: 45px;
    width: 98%;
}

#todo-list-items-div {
    height:96%;
    top:7%;
    display: flex;
    flex-direction: column;
}

.list-item-card {
    height: 45px;
    display: flex;
    flex-direction: row;
}

.item-col {
    width:25%;
}

[id^="todo-list-item-"] {
    word-wrap: break-word;
    height: auto;
}

[id^="task-"] {
    padding: 20px 0px;
}

[id^="date-"] {
    padding: 20px 0px;
}

[id^="status-"] {
    width: 25%;
    padding: 20px 0px;
}

[id^="input-task-"] {
    width: 25%;
    word-wrap: break-word;
    height: auto;
    padding: 20px 0px;

}

.list-controls-col {
    /*display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;*/
}

.list-item-control {
    width: 20%;
}